body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/2.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.message {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.progress-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar-inner {
    height: 24px;
    width: 0%;
    background-color: #4caf50;
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 5px;
}

.popup {
    visibility: hidden;
    width: 300px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: visibility 5s, opacity 0.5s ease-in-out;
    opacity: 1;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

.container {
    text-align: center;
    flex: 1;
}

.container button, .container label {
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Impact, sans-serif;
    transition: transform 0.2s;
    color: #000;
}

.container button:hover, .container label:hover {
    transform: scale(1.05);
}

.button-load-media {
    background-color: #71faff;
    width: calc(250px * 2 + 120px);
    height: 100px;
}

.button-load-model {
    background-color: #ff8b7f;
    width: calc(250px * 2 + 120px);
    height: 100px;
}

.button-scan-now {
    background-color: #f28482;
    width: calc(250px * 2 + 120px);
    height: 100px;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.click-icon {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 48px;
    cursor: pointer;
}

.large-button {
    width: 300px;
    height: 100px;
}

.full-width-button {
    width: calc(250px * 2 + 120px);
    height: 100px;
}

:root {
    --primary: #d43a2f;
    --secondary: #000000;
}

header, footer {
    background: var(--primary);
    color: #FAEBDC;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    border-radius: 30px;
    font-family: impact;
    letter-spacing: 6px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header {
    top: 5px;
}

footer {
    bottom: 5px;;
}

header:hover, footer:hover {
    background-image: linear-gradient(90deg, var(--secondary), var(--primary));
}

header:hover h1 {
    transform: translateX(-500px);
}

footer:hover p {
    transform: translateX(600px);
}

header h1, footer p {
    display: inline-block;
    transition: transform .4s ease-in-out;
}

header nav {
    display: flex;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    margin-left: 20px;
    border-radius: 30px;
    justify-content: center !important;
}

header:hover nav {
    opacity: 1;
    transform: translateX(0);
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.nav-item:hover {
    animation: shake 0.8s ease-in-out;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    padding: 60px 20px;
    text-align: center;
}

.hero-content {
    margin-bottom: 60px;
}

* {
    box-sizing: border-box;
}

.button-load-media, .button-load-model {
    background-color: #71faff;
    width: calc(250px * 2 + 120px);
    height: 100px;
}

.button-load-model {
    background-color: #ffc7a4;
}

.input-container {
    margin-top: 10px;
    text-align: left;
    width: calc(250px * 2 + 120px);
}
  
.input-container label {
    font-size: 30px;
    font-weight: bold;
}
  
.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
